#container
{
padding:24px;
margin:0% auto;
}


.input{
padding:12px 16px;
width: 80%;
border:none;
border-radius: 5px;
color: white;
background-color: background-color black
           
 }

button  {
        color: white;
        padding: 4px 240px;
        margin: auto;
        background-color: black;
     }
        img{
            width:5%;
            padding: 2px 3px;
        }
    
   